/* Här skriver en exempelvis: 

@mixin buttonStyling() {
    background-color: $button-bg;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin: 1rem;

}

*/ /* 
@mixin pageSize {
  width: 25.875rem;
  height: 56rem;
  background-color: grey;
} */
