@use "../../sass/" as *;
@use "sass:map";
@use "sass:color";

.card-form {
  @include flex(column);
  margin-top: 2rem;

  & label {
    margin: 0.7rem 0 0.3rem 0;
    font-size: 12px;
    color: transparentize(map-get($theme-colors, "black"), 0.2);
  }

  & input,
  & select {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid transparentize(map-get($theme-colors, "black"), 0.2);
  }

  & .card-form__valid-ccv {
    column-count: 2;
    margin: 0.7rem 0 0.3rem 0;
    gap: 2rem;
  }

  & select {
    appearance: none;
    background-color: map-get($theme-colors, "white");
    background-image: url(../../assets/img/chevron.png);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
  }
}
