@use "../../sass/" as *;
@use "sass:map";
@use "sass:color";

.card {
  min-width: 384px;
  height: 241px;
  padding: 30px 22px;
  border-radius: 5px;
  filter: drop-shadow(0 0 8px transparentize(map-get($theme-colors, "black"), 0.75));

  &__header {
    @include flex(row, space-between);
  }

  &__wifi-chip-container {
    @include flex(column, flex-start, center);
  }

  &__cardNumber {
    height: 32.5px;
    font-size: 29px;
    margin-top: 10px;
    letter-spacing: 0.48px;
  }

  &__holder-valid-thru-container {
    @include flex(row, space-between);

    .card-title-text {
      font-size: 12px;
      margin-top: 20px;
    }
  }

  &__name-date-container {
    @include flex(row, space-between);

    .card-text {
      font-size: 18px;
      margin-top: 5px;
    }
  }
}
