@use "../../sass/" as *;
@use "sass:map";

.big-button {
  width: 100%;
  font-size: 22px;
  padding: 24.64px;
  border: none;
  border-radius: 8px;
  margin-top: 3rem;
  font-weight: 700;
  text-align: center;
  border: 1px solid map-get($theme-colors, "black");
  cursor: pointer;
}
