@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Inter&family=Karla&family=Lora&family=PT+Mono&family=Poppins&family=Roboto&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Mono", monospace;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans 3", sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 0.5rem;
  max-width: 400px;
}

.sub-title {
  text-align: center;
  color: rgba(34, 34, 34, 0.6);
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
}
